<%= render 'form' %>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to admin_profile_path do %>
      <i class="fa fa-user"></i>
      用户资料
    <% end %>
  </li>
  <li><%= link_to '修改用户资料', admin_profile_edit_path %></li>
<% end %>
<% content_for :page_title, '修改用户资料' %>
<% content_for :box_title, '用户资料' %>
<% content_for :box_actions do %>
  <%= link_to '返回', admin_profile_path, class: 'btn btn-default btn-sm' %>
<% end %>